<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userBean" class="entity.User">
		<property name="name" value="aaa"/>
		<property name="age" value="123"/>
	</bean>

	<!--aop-->
	<bean id="testAdvisor" class=""></bean>
	<bean id="testAop" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces" value=""/>
		<property name="target">
			<bean class=""></bean>
		</property>
		<property name="interceptorNames">
			<list><value>testAdvisor</value></list>
		</property>
	</bean>

</beans>
